
.card {
  margin: 0 auto;
}

.g-3 {
  margin: 0 auto;
}

.alert-info {
  margin: 0 auto;
}

.signup {
  max-width: 20rem;
}

.footer-container {
  bottom : 0;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: cornflowerblue;
}